---
---

$base-font: 'Raleway', sans-serif;
$anchor-font: 'Alegreya SC', serif;

html
{
	width:100%;
	height: 100%;
	background-color: white;
	-moz-box-shadow:inset 0 0 20px #000000; 
	-webkit-box-shadow:inset 0 0 20px #000000; 
	box-shadow:inset 0 0 20px #000000;
}


body{
	background-color: #ffffff;
	color: #800000;
	font-size: 16px;
	font-family: $base-font;
	font-weight: 500;
}

.anchor h2 {
	font-size: 1.15em;
	text-align:center;
	COLOR: #155F83; 
	font-family: $anchor-font;
}

a {
	text-decoration: none;
	font-family: $base-font;
	font-weight: 400;
	color: #C16622;
	transition:0.5s all;
	
	&:hover{
		COLOR: #155F83;
		text-decoration: underline; 
	}
	&:visited{
		COLOR: #155F83;
	}
}

h2 { 
	COLOR: #155F83; 
	font-family: $base-font; 
	font-weight: 800; 
}
h3 { 
	COLOR: #155F83; 
	font-family: $base-font; 
	font-weight: 700; }

.main-wrapper
{
	margin: 20px 50px 0px 50px; 
	border: 60px solid #F7F6EE; 
	border-top: 10px solid #F7F6EE;  
	background-color:#F7F6EE; 
	-webkit-box-shadow: 0 0 15px 2px #00f; 
	-moz-box-shadow: 0 0 15px 2px #000;     
	box-shadow: 0 0 15px 2px #000;
}

ul {
    padding-left: 1em;
}

ol {
    padding-left: 1em;
    li {
        padding-left: 0.5em;
    }
}

.papers {
    padding: 0em;
    margin: 0em;
    border-top: dotted 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        padding: 0em;
        margin: 0.5em 0em;
    }
}

.course {
	@extend .papers;
	p{
		padding: 0em;
		margin: 0.2em 0em;
	}
}

header {
  	font-family: ProximaNova-Regular;
  	font-size: 110%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

    	margin-top:0em;
    	margin-bottom: 2em;
    	padding-top: 0.5em;
    	padding-bottom: 0.2em;

    	h1 {
		text-align: center;
		margin: 0em;
	    }
}

.about {
	width: 95%;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-evenly;
  	align-items: center;
  }
@media all and (max-width: 500px) {
	.about{
		flex-flow: column wrap;
	}
}


@media all and (min-width: 960px) {
nav ul{
	list-style: none;
	margin: 0; 

	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	
	display:flex;
	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
	justify-content: flex-end;
	}
}

/* Medium screens */
@media all and (max-width: 800px) {
nav ul{
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
nav ul{
    /* On small screens, we are no longer using row direction but column */
    flex-flow: column wrap;
  }
}


nav ul li{
	display: inline-block;
	margin-left: 1em;
	list-style-type:none;
	a{
		font-family: 'Alegreya Sans SC', sans-serif;
		font-size: 1em;
		color: #3A494C;
		padding: 0.4em 1em;
		display: block;
		border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
		-o-border-radius: 0.5em;
		font-weight: 900;
		
		&:hover{
			color: #A5D3DB;
			background:#3A494C;
		}
	}
}


footer {
	border-top: 0.1em dotted #FFF;
	padding-top:0.3em;
	margin: 20px 50px 0px 50px; 
}


#mypicture {
    width:10em;
    @media screen and (min-width: 960px) {
        width: 15em;
    }
    @media screen and (max-width: 480px) {
      margin-left: 0;
    }
}

#university_shield{
	width:8em;
}

.picture{
	order: 1;
	float:left;
}
.mail{
	order:2;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display:flex;
	flex-direction: column;
  	justify-content: space-evenly;	
}

.shield{
	order: 3;
	float:right;
}

