* text=auto eol=lf

*.pdf   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
*.svgz  binary
*.ico   binary
*.woff  binary
*.woff2 binary
*.ttf   binary
*.otf   binary
*.eot   binary
*.zip   binary
*.mp4   binary
*.webm  binary
