<div class="bio-columns">
  <div class="experience">
    <h3>Appointments</h3>
    <ul>
      <li>Assistant Instructional Professor<br>The University of Chicago, 2023 &ndash; Present</li>
      <li>Visiting Assistant Professor<br><a href="https://wooster.edu/">The College of Wooster</a>, 2020 &ndash; 2023</li>
      <li>Visiting Assistant Professor<br><a href="https://www.bowdoin.edu/">Bowdoin College</a>, 2018 &ndash; 2020</li>
    </ul>
  </div>
  <div class="education">
    <h3>Education</h3>
    <ul>
      <li>Ph.D. in Mathematics, 2018<br>University of Chicago</li>
      <li>M.S. in Mathematics, 2014<br>University of Chicago</li>
      <li>B.Math.(Hons.), 2012<br><a href="https://www.isibang.ac.in/">Indian Statistical Institute</a></li>
    </ul>
  </div>
</div>
