<head>

        {% if page.mathjax %}
        <script type="text/javascript" defer
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        {% endif %}


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Encode+Sans+Condensed&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" onload="this.rel='stylesheet'">
        <noscript>
                <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Encode+Sans+Condensed&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        </noscript>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/favicon_192.png">
        <link rel="apple-touch-icon" href="/assets/icons/favicon_apple.png" />

	<link rel="stylesheet" href="/css/stylesheet.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/javascript/navigation.js"></script>
	
	<script src="https://cdn.jsdelivr.net/gh/ncase/nutshell/nutshell.js"></script>
	<script>
		Nutshell.setOptions({
			dontEmbedHeadings: true,
		});
	</script>
	
        <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">

        {% assign page_description = page.description | default: "My personal webpage." %}
        <meta name="description" content="{{ page_description }}">

        <title>{% if page.title != "Home" %} {{ page.title }} | {% endif %}Subhadip Chowdhury</title>
	
        {% if page.robots == false %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}

</head>
