<nav id="nav-main">
    <ul>
        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
        {% for p in navigation_pages %}
        {% if p.navigation_weight %}
        <li>
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                {{ p.title }}
                <span class="nav_effect"></span>
            </a>
            
			{% if p.has_subnav %}
					<ul id="subnav">
					{% assign subnav_pages = site.html_pages | where:"parentnav",p.title | sort: 'subnav_weight' %}
					{% for q in subnav_pages %}
					<li>
						<a href="{{ q.url }}">
							{{ q.title }}
						</a>
					</li>
					{% endfor %}
					</ul>
			{% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

<nav id="nav-mobile">
        <ul>
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
            {% if p.navigation_weight %}
            <li>
                <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                    {{ p.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>        
</nav>

<div id="nav-trigger"> 
    <span>
        <div class="wrapper-menu">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
    </span>
</div>

